doctype html
html
  head
    title Search Engine
    link(rel='stylesheet', href='/stylesheets/layout.css')
  body
  
    header
      h7 Search Engine
    .container
      .main-content
        block content
      .sidebar
        block sidebar
          
    footer
