extend layout
block content
  p
    h2 Registration Succeed!
    h3 Return to Homepage
    h3 to login!
    form(method='get', action='/')
      p
        .register    
          input(type='submit', value='Return')    